/* Background pattern from Subtle Patterns */

/*-----------------------------------*/
/*BASIC SETUP*/
/*-----------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/*-----------------------------------*/
/*REUSABLE CONTENT*/
/*-----------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/*----HEADINGS----*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 4px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    color: #777;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

/*FOR CLEARING FLOATS*/
.clear-both {
    clear: both;
}

/*----LINKS----*/
a:link,
a:visited {
    color: #2ecc71;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #2ecc71;
    transition: border-bottom 0.5s, color 0.5s;
}

a:hover,
a:active {
    color: #555;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
}

/*----BUTTONS----*/

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-outline{
    border: 1px solid #e67e22;
    color: #e67e22;    
}


/*-----------------------------------*/
/*HEADER */
/*-----------------------------------*/

header {
    background-image: linear-gradient(rgba(240, 240, 240, 0.7), rgba(0, 0, 0, 0.7)), url(img/clothes.jpg);
    background-size: cover;
    background-color: #2980b9;
    background-position: center;
    height: 50vh;
    background-attachment: fixed;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 39%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.header-flex{
    display:flex;
    flex-direction: row;
    margin-top: 20%
}

.header-flex-item {
    order: 1;
    flex-grow: 1;
}

.welcome-text {
    margin-top: 15%
    
}

.my-photo{
    
}

.my-photo img {
    height: 300px;
    border-radius: 25%;
    margin-top: 0px
}
    

    
/*-----------------------------------*/
/*SECTION 1 */
/*-----------------------------------*/

.section-intro{
    margin-top: 5%
}

.intro-flex{
    display:flex;
    flex-direction: row;
}

.intro-flex-item {
    order: 1;
    flex-grow: 1;
}

/*-----------------------------------*/
/*SECTION 2 */
/*-----------------------------------*/

.section-second-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/kyoto.jpg);
    background-size: cover;
    color: #fff;
    height: 50vh;
    background-attachment: fixed;
}

